<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.brandnewengine.plugins.applist" version="0.3">
    <name>applist</name>

    <description>get device installed apps by friendly name and excludes system level apps</description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/applist.js" name="Applist">
        <clobbers target="cordova.plugins.applist" />
    </js-module>

    <!-- android -->
    <platform name="android">
        
        <source-file src="src/android/Applist.java" target-dir="src/com/brandnewengine/plugins" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Applist">
                <param name="android-package" value="com.brandnewengine.plugins.Applist" />
            </feature>
        </config-file>
        
    </platform>
</plugin>
